body {
  background-color: #646464;
  background-size: 100% 100%;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Arial Black", Helvetica, sans-serif;
  color: #ffffff;
}

img {
  width: 215px;
  height: 80px;
  box-shadow: 0 0 10px #404040;
  position: relative;
}

button {
  border-radius: 4px;
  border: none;
  background-color: #ff9d19;
  box-shadow: 0 0 10px #404040;
  text-align: center;
  font-size: 11px;
  padding: 5px;
  width: 35px;
  margin: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #ffd119;
  box-shadow: 0 0 5px #404040;
}
